div {
	background-color: green;
	padding: 50px;
	align-self: center;

}

h1 {
	text-align-last: center;
	background-color: blue;
	padding: 25px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: -100px;
}

p{
	background-color: white;
	padding: 25px;
	margin-left: 25px;
	margin-right: 25px;
}